// Bootstrap brand color customization

/*     brand Colors              */

$brand-primary:              #8A8994 !default;
$brand-info:                 #2a494d !default;
$brand-success:              #7bb34f !default;
$brand-warning:              #f8a317 !default;
$brand-danger:               #f44336 !default;
$brand-rose:                 #AE8464 !default;
$brand-inverse:              #383E58 !default;


$brand-primary: #8A8994;
$brand-info: #2a494d;
$brand-success: #7bb34f;
$brand-warning: #f8a317;
$brand-danger: #f44336;	